.bhk{
    background-color: burlywood;color: aqua;font-family: cursive;
}
.hdk{
    background-color: rgb(244, 143, 13);color: rgb(103, 253, 185);font-family: cursive;
}
.dk{
    background-color: rgb(250, 60, 2);color: rgb(65, 1, 241);font-family: cursive;
}