.bhk{
    color: rgb(251, 46, 46);
    text-align: center;
    text-transform:uppercase ;
     font-family: cursive;
     text-shadow:3px 2px ;
     text-decoration: underline;
     background-color: bisque;
}